# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3

# pyenv
.python-version

# dotenv
.env

# virtualenv
recipEasyEnv

.DS_Store
media/
*.pyc
*.db
*.pid

# django migrations
migrations

#db location
views/connection.py
recipEasyEnv